* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Source Sans 3', sans-serif;
}

:root {
    --main-clr: #ff305b;
    --sec-color: #f1f1f1;
}

.container {
    margin: 0 auto;
    width: 90%;
}

/* End of global */
/* start of nav */
nav {
    height: 60px;
    width: 100%;
    background-color: transparent;
    position: relative;
}

nav ul {
    /* position: relative; */
    float: right;
    padding: 18px 0;
}

nav p {
    padding: 13px 0;
    font-size: 24px;
    font-weight: 800;
    float: left;
    color: var(--main-clr);
}

nav ul li {
    display: inline-block;
    margin-right: 15px;
}

nav .blk {
    color: var(--main-clr);
}

nav a {
    color: white;
    font-size: 1rem;
}

nav a:hover {
    color: var(--main-clr);
    transition-duration: .8s;
}

@media (max-width: 767px) {
    nav ul {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }

    nav ul li {
        display: block;
        width: 100%;
        padding: 20px 30px;
        background-color: rgba(0, 0, 0, 0.87);
    }

    .dots {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 30px;
        cursor: pointer;
    }

    .dots span {
        background-color: var(--main-clr);
        position: absolute;
        top: 10%;
        width: 40px;
        height: 5px;
    }


    .dots span:nth-child(2) {
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .dots span:nth-child(3) {
        top: 80%;
    }

    .dots:hover+ul {
        opacity: 1;
        visibility: visible;
    }

    .dots:hover span:nth-child(1) {
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .dots:hover span:nth-child(2) {
        opacity: 0;
        visibility: hidden;
    }

    .dots:hover span:nth-child(3) {
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(-45deg);
    }
}

.clr {
    clear: both;
}

/* End of nav */
/* Start of main */
.home {
    background: url("../images/hero\ img.jpg") repeat scroll center center / cover;
    height: 100vh;
    position: relative;
    z-index: 99;
}

.home img {
    background-size: cover;
    background-position: center center;
}

.home::before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: '';
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    z-index: -1;
}

.home-content {
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-content h3 {
    font-size: 24px;
    font-weight: 600;
}

.home-content h1 {
    color: var(--main-clr);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 70px;
}

@media (max-width: 500px) {
    .home-content h1 {

        font-size: 60px;
    }
}


/* Home-annimation */

.animated-text p {
    font-size: 26px;
    text-transform: capitalize;
    font-weight: 300;
    /* letter-spacing: 4px; */
    overflow: hidden;
    color: white;
    position: relative;
}

.animated-text p::after {
    content: "developer";
    display: inline-block;
    animation: typing 6s steps(10) infinite;
    width: 0ch;
    color: white;
    right: 0;
}

.animated-text p::before {
    content: '';
    width: 2px;
    height: 100%;
    background-color: white;
    position: absolute;
    right: 0;
    animation: blinking .6s linear alternate infinite;
}

@keyframes typing {
    25% {
        content: "developer";
        width: 9ch;
    }

    40% {
        width: 0ch;
    }

    75% {
        content: "designer";
        width: 8ch;
    }

    90% {
        width: 0ch;
    }

}

@keyframes blinking {
    100% {
        opacity: 0;
    }
}

/* Home-annimation */

/* End of main */
/* Start abt */
/* End abt */
.main-abt {
    padding: 100px 0 125px 0;
    position: relative;
}


.left-img {
    border-radius: 10px;
    position: relative;
    height: auto;
    top: 10%;
}

.left-img::before {
    box-shadow: 0 0 0 8px #555555;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 5px;
    top: -20px;
    position: absolute;
    left: -20px;
}

.main-abt img {
    max-width: 100%;
    height: 100%;
    border-radius: 5px;
    position: relative;
}

.main-abt .layer {
    background-color: rgba(0, 0, 0, 0.425);
    width: 100%;
    height: 98%;
    position: absolute;
    border-radius: 5px;
    bottom: 0;
    visibility: hidden;
    transition: height 0.8s ease 0s;
    height: 0%;
}

.main-abt .left-img:hover .layer {
    z-index: 2;
    height: 100%;
    visibility: visible;
}

.main-abt .layer .icons {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.main-abt .layer .icons i {
    margin-right: 25px;
    color: white;
    cursor: pointer;
}

.main-abt .layer .icons i:hover {
    color: var(--main-clr);
}


.abt-lft {
    float: left;
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
}


.abt-rt {
    padding-left: 20px;
    float: left;
    width: 50%;
}

.clr {
    clear: both;
}

.abt-rt h2 {
    font-size: 34px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 25px;
    padding-left: 13px;
    position: relative;
    text-transform: uppercase;
}

.abt-rt h2::before {
    content: '';
    background: #ff305b none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 4px;
}

.abt-rt p {
    border-bottom: 1px dashed #999999;
    margin-bottom: 25px;
    padding-bottom: 25px;
    color: #555555;
}


.abt-rt .gp-about li {
    float: left;
    width: 50%;
    text-transform: capitalize;
    font-weight: 400;
    margin-bottom: 25px;
}

.gp-about span {
    font-weight: bold;
}

.gp-about button {
    background-color: var(--main-clr);
    padding: 15px 10px;
    background: #ff305b none repeat scroll 0 0;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    margin: 10px 10px 0 0;
    padding: 15px 20px;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
}

.gp-about button:hover {
    background-color: #EC2403;
    cursor: pointer;
}


@media screen and (max-width:979px) and (min-width:768px) {
    .gp-about button {
        padding: 10px 25px;
    }

    .left-img {
        margin: 0 30px;
    }

    .main-abt .layer .icons i {
        margin-right: 10px;
    }
}

@media screen and (max-width:767px) and (min-width:501px) {
    .gp-about button {
        margin: 20px 0;
        padding: 10px 15px;
    }

    .abt-lft {
        padding-bottom: 100px;
        width: 100%;
    }

    .left-img::before {
        content: none;
    }

    .abt-rt {
        width: 100%;
    }

    .abt-rt h2 {
        text-align: left;
    }

    .abt-rt .gp-about li {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width:500px) {


    .gp-about button {
        padding: 10px 15px;
        margin: 20px 0;
    }

    .left-img::before {
        content: none;
    }

    .abt-lft {
        padding-bottom: 100px;
        width: 100%;
    }

    .abt-rt {
        width: 100%;
    }

    .abt-rt h2 {
        text-align: left;
    }

    .abt-rt .gp-about li {
        width: 100%;
        margin-bottom: 10px;
    }

    .left-img {
        box-shadow: none;
    }

    .left-img img {
        position: relative;
        top: 0;
        left: 0;
    }

    .main-abt .layer .icons i {
        margin-right: 15px;
    }
}

/* End abt */
/* start of services */
.serv {
    padding: 100px 0;
    background-color: var(--sec-color);
}


.sp-header {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    text-transform: capitalize;
    margin-bottom: 30px;
    padding-bottom: 20px;
    color: #333;
    position: relative;
}

.sp-header::after {
    content: '';
    width: 160px;
    height: 1px;
    background-color: var(--main-clr);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}

.sp-header::before {
    content: '';
    width: 70px;
    height: 1px;
    background-color: var(--main-clr);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    margin: 0 auto;
}

.sp-header span {
    width: 70px;
    height: 1px;
    background-color: var(--main-clr);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
    margin: 0 auto;
}

.cont {
    width: 100%;
}

.serv-content .cont {
    float: left;
    width: 25%;
    padding: 40px 15px;
    text-align: center;
    transition: all 0.3s ease-in-out 0s;
}

.serv-content .cont h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #333;
}

.serv-content .cont i {
    transition: all 0.3s ease-in-out 0s;
    font-size: 36px;
    margin-bottom: 25px;
    color: var(--main-clr);
}

.serv-content .cont:hover {
    background-color: #fff;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.cont:hover i {
    transform: scale(1.2);
}

@media screen and (max-width:767px) {
    .serv-content .cont {
        width: 100%
    }
}

@media (min-width: 768px) {
    .serv-content .cont {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .serv-content .cont {
        width: 33.3%
    }
}

@media (min-width: 1200px) {
    .serv-content .cont {
        width: 25%;
    }
}

/* End aboutt */
/* start of portfolio */

.port {
    padding: 100px 0;
}

.port ul {
    text-align: center;

}

.port ul li {
    display: inline-block;
    text-transform: uppercase;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 3px 15px;
    cursor: pointer;
}

.port .sp-li {
    color: var(--main-clr);
}

.port img {
    width: 100%;
    border-radius: 5px;
}

.port .main-imgs {
    margin-top: 20px;
}

.port .pic {
    float: left;
    width: 33.3%;
    cursor: pointer;
    padding: 10px;
}

.port .inner {
    position: relative;
    display: flex;
}

.port .layer {
    width: 100%;
    height: 100%;
    inset: 0;
    opacity: 0;
    position: absolute;
    background-color: #0000005e;
    border-radius: 5px;
    transition: opacity 0.3s;
}

.port .pic:hover .layer {
    opacity: 1;
}

.pic .inner i {
    transition: all 0.2s 0.3s;
    color: var(--main-clr);
    position: absolute;
    bottom: 10px;
    right: 10px;
}

@media (max-width: 992px) {
    .port .pic {
        width: 50%
    }
}

@media screen and (max-width:767px) {
    .port .pic {
        width: 100%;
    }

}

/* Ent of portfolio */
/* Start of numbers*/

.main-nums {
    background-color: var(--sec-color);
    padding: 80px 0;
}

.main-nums .num-sec {
    float: left;
    width: 25%;
    padding: 25px 0;
    text-align: center;
}

.num-sec i {
    color: var(--main-clr);
    font-size: 26px;
    margin-bottom: 10px;
}

.num-sec .number {
    font-size: 26px;
    font-weight: 800;
    color: #333;
}

.num-sec p {
    color: #555555;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}

@media (max-width: 768px) {
    .main-nums .num-sec {
        width: 100%;
    }
}

/* End of numbers*/
/* Start of clint */

.clint {
    padding: 100px 0;
}

.cl-box {
    background-color: var(--sec-color);
    border-radius: 5px;
    padding: 40px;
    position: relative;
}

.cl-box .rec {
    position: absolute;
    border: 80px solid;
    border-top-color: var(--main-clr);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: var(--main-clr);
    top: 0%;
    left: 0;
    z-index: 1;
}

.cl-img {
    float: left;
    width: 110px;
}

.cl-content {
    float: left;
    width: 75%;
    padding-left: 20px;
}

.cl-box img {
    width: 100%;
    border-radius: 50%;
    z-index: 999;
    position: relative;
}

.cl-content h2 {
    font-size: 26px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #333;
}

.cl-content .icon {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-bottom: 10px;
    font-size: 15px;
    color: #777777;
}


.cl-content p:nth-last-child(2) {
    font-size: 16px;
    font-style: italic;
    color: #555555;
    padding-bottom: 20px;
}

.cl-content .stars i {
    color: #f1c30d;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .cl-content p:nth-last-child(2) {
        width: 100%;
        display: block;
    }

    .cl-box {
        padding: 20px;
        display: flex;
        flex-direction: column;
        min-width: 350px;
    }

    .cl-box .cl-img {
        align-self: center;
        padding-bottom: 15px;
    }

    .cl-box img {
        width: 100%;
        margin: 0 auto;
    }

    .cl-content p:nth-last-child(2) {
        min-width: 300px;
    }

    .cl-box .rec {
        visibility: hidden;
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .sp-header {
        font-size: 32px;
    }

    .clint .container {
        width: 90%;
    }

    .cl-box {
        min-width: 100%;
    }

    .cl-content p:nth-last-child(2) {
        width: 100%;
    }

    .cl-content {
        padding-left: 0;
    }

}

@media (min-width: 900px) {
    .clint .container {
        width: 55%;
    }
}

/* End of clint */
/* Start of blog */

.blog {
    padding: 100px 0;
    background-color: var(--sec-color);
}

.blog-content .cont {
    /* background-color: tomato; */
    width: 33.3%;
    float: left;
    padding: 15px;
}

.cont img {
    width: 100%;
    margin-bottom: -5px;
}

.cont iframe {
    width: 100%;
    margin-bottom: -5px;
    height: 100%;
    aspect-ratio: 16/9;
}

.cont-txt {
    padding: 20px;
    background-color: white;
}

.cont-txt .date {
    color: #555;
}

.cont-txt a {
    color: #333333;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: -10px;
    background-color: white;
}

.cont-txt a:hover {
    color: var(--main-clr);
}

.cont-txt p {
    color: #555;
    line-height: 1.3;
}

.cont-txt .r-m {
    color: #000;
    padding-top: 10px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.cont-txt .r-m:hover {
    color: var(--main-clr);
}

@media (max-width: 768px) {
    .blog-content .cont {
        width: 100%;
    }
}

/* End of blog */

@media (min-width: 768px) {
    .container {
        width: 750px
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End of blog */
/* Start of Contact */
.contact {
    padding: 100px 0;
}

.contact form {
    padding-top: 20px;
}

.contact input {
    border: 1px solid #ccc;
    display: inline-block;
    width: calc(50% - 32px);
    margin: 15px;
    padding: 6px 12px;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
}

.contact input:focus {
    border: 1px solid var(--main-clr);
}

.contact .sub {
    width: calc(100% - 32px);
}

.contact textarea {
    display: inline-block;
    border: none;
    width: calc(100% - 32px);
    margin: 15px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.contact textarea:focus {
    border: 1px solid var(--main-clr);
}

.contact button {
    border-radius: 5px;
    padding: 10px 25px;
    border: none;
    background-color: var(--main-clr);
    color: white;
    margin: 15px;
    text-transform: uppercase;
    cursor: pointer;
}

.contact button:hover {
    background-color: #EC2403;
}


@media (min-width: 767px) {
    .contact .container {
        width: 55%;
    }

}

@media (max-width: 766px) {
    .contact .name {
        width: calc(100% - 32px);
    }

    .contact .email {
        width: calc(100% - 32px);
    }

}

/* End of Contact */
/* start of footer */
footer {
    padding: 50px 0;
    text-align: center;
    background-color: #333;
    position: relative;
}

footer .icons {
    padding: 10px 0;
    cursor: pointer;
}

footer i {
    color: white;
    margin: 10px;
    font-size: 18px;
}

footer i:hover {
    color: var(--main-clr);
}

footer p {
    color: white;
    font-size: 16px;
}

footer a {
    color: var(--main-clr);
    font-size: 16px;
}

footer a:hover {
    text-decoration: underline;
}

footer .btn {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: var(--main-clr);
    right: 10px;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

footer .btn i {
    color: var(--sec-color);
}

/* End of footer */

/* Media */
@media (min-width: 768px) {
    .container {
        width: 750px
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}